<div class="container px-4 main-container">
    <div class="row gx-5">
      <div class="col">
       <div class="p-3">
            <img src="{{ imagem }}" class="img-fluid">
        </div>
      </div>
      <div class="col">
        <div class="p-3 text-center">
            <h2>{{ nome }}</h2>
            <br>
            <p>{{ descricao }}</p>
            <p>Entre em contato</p>
            <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
                <div class="mb-3">
                  <input class="form-control" formControlName="nome" placeholder="Nome">
                </div>
                <div class="mb-3">
                  <input class="form-control" formControlName="email" placeholder="Email">

                </div>
                <div class="mb-3">
                  <textarea class="form-control" formControlName="mensagem" placeholder="Mensagem"></textarea>
                
                </div>
                <div class="col-12 d-md-flex justify-content-between" style="padding: 0px;">
                  <button class="btn btn-outline-danger " [routerLink]="['/']">Voltar</button>
                  <button class="btn btn-outline-success " type="submit" >Enviar</button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>